.home {
    height: 600px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    background-image: linear-gradient(to right, rgb(118, 222, 233), rgb(27, 27, 224));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
}

.details {
    width: 500px;
    overflow: hidden;
    text-wrap: wrap;
    font-size: 20px;
}

.code {
    color: rgb(246, 185, 3);
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    object-fit: cover;
    height: 400px;
}

.image {
    border-radius: 15px;
    /* padding-right: 20px; */
    margin-top: 50%;
    height: inherit;

    /* width: inherit; */
}