.navbar {
    margin: 0;
    padding: 1.5rem;
    display: flex;
    gap: 4rem;
}

.home_link {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.other_links {
    display: flex;
    margin-left: auto;
    gap: 4rem;
    font-size: 1rem;
}