.navbar {
    padding: 1.5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.home_link {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    color: rgb(61, 90, 234);
}

.other_links{
    display: flex;
    margin-left: auto;
    gap: 4rem;
    font-size: 1.3rem;
}

.child_links {
    text-decoration: none;
    color: rgb(49, 145, 169);
}